{{/* themes/salah-nomad-theme/layouts/shortcodes/figure.html */}}
{{ $src := .Get "src" }}
{{ $alt := .Get "alt" | default $src }}
{{ $caption := .Get "caption" }}
{{ $class := .Get "class" }}
{{ $page := .Page }}

{{/* Essayer de trouver l'image comme une ressource de la page actuelle */}}
{{ $imageResource := "" }}
{{ if $page.Resources }}
  {{ $imageResource = $page.Resources.GetMatch $src }}
{{ end }}


{{ if $imageResource }}
  {{/* L'image a été trouvée dans le bundle de la page */}}
  <figure class="shortcode-figure {{ $class }}">
    <img src="{{ $imageResource.RelPermalink }}" alt="{{ $alt }}" loading="lazy">
    {{ if $caption }}
      <figcaption>{{ $caption | $page.RenderString }}</figcaption>
    {{ end }}
  </figure>
{{ else }}
  {{/* Solution de repli : si l'image n'est pas une ressource, on la cherche dans /static */}}
  <figure class="shortcode-figure {{ $class }}">
    <img src="{{ $src | relURL }}" alt="{{ $alt }}" loading="lazy">
    {{ if $caption }}
      <figcaption>{{ $caption | $page.RenderString }}</figcaption>
    {{ end }}
  </figure>
{{ end }}