{{/* layouts/taxonomy/term.html */}}
{{ define "main" }}
  {{ $showSidebar := .Params.sidebar | default (.Site.Params.listPageSidebar | default true) }}
  <div class="container main-content-container">
    <div class="content-loop-wrap {{ if $showSidebar }}has-sidebar{{ else }}no-sidebar{{ end }}">
      <div class="post-list content-loop">
        {{ partial "breadcrumbs.html" . }}
        <header class="page-header list-page-header">

          {{/* --- LOGIQUE FINALE POUR SOUS-DOSSIER "images/" --- */}}
          {{ with .Params.featured_image }}
            {{/* On cherche l'image comme une ressource de la page (Branch Bundle) */}}
            {{ $image := $.Resources.GetMatch . }}
            {{ with $image }}
              {{ $resized := .Fill "800x350 webp q85 Center" }}
              <figure class="section-featured-image">
                  <img src="{{ $resized.RelPermalink }}" alt="{{ $.Params.featured_image_alt | default (printf "Image d'illustration pour %s" ($.Title | plainify)) }}" class="section-page-featured-img" loading="lazy">
              </figure>
            {{ end }}
          {{ end }}

          <h1 class="page-title list-page-title">{{ .Title }}</h1>
           {{ with .Content }}
             <div class="page-description list-page-description taxonomy-description">{{ . }}</div>
           {{ end }}
        </header>

        {{ $paginator := .Paginator }} 
        {{ if $paginator.Pages }}
          <div class="posts-list-header">
              <hr class="separator-above-title">
              <h2 class="posts-list-title">Articles in this Collection</h2>
              <hr class="separator-below-title">
          </div>
          <div class="article-grid list-page-grid">
            {{ range $paginator.Pages }}
              {{ partial "article-card.html" . }}
            {{ end }}
          </div>
          {{ if gt $paginator.TotalPages 1 }}
            <nav class="navigation pagination" role="navigation" aria-label="{{ i18n "postsNavigation" | default "Posts navigation" }}">
                {{ template "_internal/pagination.html" . }}
            </nav>
          {{ end }}
        {{ else }}
          {{ if not .Content }}
            <p class="no-posts text-center">{{ i18n "noArticlesFoundForTerm" | default "No articles found for this term." }}</p>
          {{ end }}
        {{ end }}
      </div>
      {{ if $showSidebar }}
        {{ partial "sidebar.html" . }}
      {{ end }}
    </div>
  </div>
{{ end }}